version: "3.9"

services:
  backend:
    build: .
    container_name: ktech-backend
    restart: unless-stopped
    ports:
      - 3001:3001
    working_dir: /backend
    volumes:
      - .:/backend
      - /backend/node_modules
    env_file:
      - .env
    depends_on:
      mongo:
        condition: service_healthy

  mongo:
    image: mongo:6.0
    container_name: ktech-db
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
    env_file:
      - .env
    healthcheck:
      test: ["CMD-SHELL", "mongosh --eval \"db.adminCommand({ ping: 1 })\" || exit 1"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 10s

volumes:
  mongo-data:
  node_modules:
